.showMenu {
  animation: show 0.4s forwards;
}
@keyframes show {
  0% {
    right: -340px;
  }
  100% {
    right: 0;
  }
}
.closeMenu {
  animation: close 0.4s forwards;
}
@keyframes close {
  100% {
    right: -340px;
  }
}

.overlay-content {
  width: 1px;
  height: 1px;
  position: relative;
}
.overlay-content svg {
  position: absolute;
  top: -26px;
  left: -13px;
}